body{
    background-color: powderblue;
}
h1{
    color:blue
}
h2{
    color:green
}
h3{
    color:red
}
h4{
    color:magenta
}
h5{
    color:aqua
}
h6{
    color:rgb(98, 192, 255)
}
p{
    color:brown
}
li{
    color: green;
}
#firstStarWars{
    height: 150px;
}